body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Layout styles */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #1e1e1e;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.main {
  display: flex;
  flex: 1;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  flex-grow: 1;
}

.FilterPanel {
  width: 250px;
  background-color: #f4f4f4;
  padding: 1rem;
  box-sizing: border-box;
}
